<div ng-if="$root.location !== '/'" id="navigator-container">
    <div id="navigator-logo-container">
        <a href="/Home">
        <collage-logo id="navigator-logo" text="false"></collage-logo>
        </a>
    </div>
    <div id="navigator-option-container">
        <a href="/New">
        <div class="navigator-options">
            <span class="navigator-icons">+</span>
            <span class="navigator-arrow">&gt;</span>
            <div class="nav-desc">New Collage</div>
        </div>
            </a>
        <a href="/History">
        <div class="navigator-options">
            <span class="navigator-icons">}</span>
            <span class="navigator-arrow">&gt;</span>
            <div class="nav-desc">View Recent</div>
        </div>
            </a>
        <a href="/About">
            <div class="navigator-options">
                <span class="navigator-icons">=</span>
                <span class="navigator-arrow">&gt;</span>
                <div class="nav-desc">About</div>
            </div>
        </a>
        <a href="/Privacy">
            <div class="navigator-options">
                <span class="navigator-icons">K</span>
                <span class="navigator-arrow">&gt;</span>
                <div class="nav-desc">Privacy Policy</div>
            </div>
        </a>
    </div>
    <div id="logout-button">
        <div class="profile-picture" ng-style="$root.logoutBackground"></div>
        <span class="logout-text" ng-click="doLogout()">Log Out</span>
    </div>
</div>